<header class="primary-header grid bg-primary-500">
    <nav class="primary-navbar flex">
        <div class="nav-left flex">
            <a class="logo fs-800 text-neutral-100" href="/">LinkedList</a>
            <form class="nav-search-bar" action="">
                <input class="nav-search-bar-input" type="text" placeholder="Search Jobs">
                <button class="nav-search-bar-button bg-neutral-100" type="submit"><i
                        class="fa-solid fa-magnifying-glass text-neutral-100"></i></button>
            </form>
        </div>

        <button class="mobile-nav-toggle" aria-controls="primary-navbar" aria-expanded="false"><span
                class="sr-only">Menu</span></button>

        <ul class="nav-right flex">
            <li class="nav-button"><a class="text-neutral-100 fw-semi-bold fs-600" href="/">Jobs</a></li>
            <li class="nav-button"><a class="text-neutral-100 fw-semi-bold fs-600" href="/login">Login</a></li>
            <li class="nav-button"><a class="text-neutral-100 fw-semi-bold fs-600" href="/signup">SignUp</a></li>
            <li class="nav-button"><a class="text-neutral-100 fw-semi-bold fs-600" href="/business">Business</a></li>
        </ul>
    </nav>
</header>