.create-job-section {
    place-items: center;
}

.create-job-title {
    align-self: center;
    margin-bottom: 2rem;
}

.create-job-form {
    flex-direction: column;
}

.create-job-container {
    flex-direction: column;
    margin: 5rem 0;
    padding: 3rem;
    width: 60%;
    border-radius: 20px;
}

.create-job-label {
    color: var(--clr-neutral-500);
}

.create-job-input,
.create-job-textarea {
    margin: .5rem 0 1.5rem 0;
    width: 100%;
    border-radius: 20px;
    background-color: var(--clr-neutral-200);
}

.create-job-input {
    padding: .5rem 1rem;
}

.create-job-textarea {
    padding: 1rem;
    height: 7rem;
    border: none;
}

.create-job-button {
    align-self: center;
    margin-top: 2.5rem;
    padding: .3rem;
    width: 30%;
    border-radius: 20px;
}

.salary-area {
    align-items: center;
    margin: .5rem 0 1.5rem 0;
}

.salary-input {
    margin: 0;
    margin-right: 2rem;
    width: 25%;
}

.selected-language-container {
    position: relative;
}

.selected-language-textarea {
    height: 10.5rem;
}

.user-selected-language-textarea {
    height: 12.5rem;
}

.required-language-button-container {
    position: absolute;
    bottom: 1.4rem;
    height: 60%;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0 1.2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.selected-language-button {
    justify-content: space-between;
    align-items: center;
    padding: .2rem 1rem;
    margin-bottom: .5rem;
    width: 100%;
    height: 2rem;
    border-radius: 20px;
}

.search-language-area {
    width: 45%;
    height: 14.65rem;
    flex-direction: column;
    margin-left: 1rem;
}

.search-language-input {
    margin-bottom: 1rem;
    width: 100%;
}

.language-container {
    flex-flow: column;
    border-radius: 20px;
    width: 100%;
    height: 7rem;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.language-button {
    width: 100%;
    height: 2rem;
    padding: .2rem .5rem;
    margin-bottom: .5rem;
    border-radius: 20px;
}

.hidden {
    display: none;
}