.auth-buttons {
    justify-content: space-between;
    width: 40%;
    margin: 1rem;
}

.auth-button {
    display: grid;
    place-items: center;
    width: 2.9rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.google-button {
    background-color: hsl(0, 50%, 56%);
}

.login-form-button {
    padding: .3rem;
    width: 50%;
    border-radius: 20px;
}

.login-form-button:hover,
.login-form-button:focus {
    cursor: pointer;
}

.login-button {
    margin-top: 1rem;
}

.signup-button {
    margin: .5rem 0 2rem 0;
    text-align: center;
    border: 1px solid var(--clr-primary-500);
}