<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/login.css">
<title>Create Business Profile</title>
<link rel="stylesheet" href="/css/create-form.css">
</head>

<body class="ff-primary">
    <%- include("../includes/navigation.ejs") %>
    <section class="single-container-section grid bg-primary-300">
        <div class="form-container grid">
            <h2 class="form-title">Create company profile</h2>
            <form action="/business/create-business" class="input-form grid" method="POST">
                <label for="companyName" class="text-neutral-500">Company Name</label>
                <input type="text" name="companyName" class="create-business-input bg-neutral-200" required>
                <label for="companyDescription" class="text-neutral-500">Company Description</label>
                <textarea name="companyDescription" class="create-business-input bg-neutral-200"></textarea>
                <button class="form-button create-business-button bg-primary-500 text-neutral-100">Save</button>
            </form>
        </div>
    </section>
</body>

</html>