<%- include("../includes/head.ejs") %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/create-form.css">
<link rel="stylesheet" href="/css/create-job.css">
<script src="/scripts/newJob.js" defer></script>
</head>

<body class="ff-primary">
    <%- include("../includes/logged-in-navigation.ejs") %>
    <section class="single-container-section create-job-section grid bg-primary-300">
        <div class="form-container create-job-container grid">
            <h2 class="form-title">Create job</h2>
            <form action="/business/create-job" class="input-form grid" method="POST">
                <label for="jobTitle" class="text-neutral-500">Job Title</label>
                <input type="text" name="jobTitle" class="create-business-input bg-neutral-200" required>
                <label for="jobDescription" class="text-neutral-500">Job Description</label>
                <textarea name="jobDescription" class="bg-neutral-200"></textarea>
                <label for="jobRequirement" class="text-neutral-500">Job Requirement</label>
                <textarea name="jobRequirement" class="bg-neutral-200"></textarea>
                <label class="salary-label text-neutral-500">Salary</label>
                <div class="salary-section flex">
                    <input type="number" name="minSalary" class="salary-input bg-neutral-200" required
                        placeholder="min">
                    <input type="number" name="maxSalary" class="salary-input bg-neutral-200" required
                        placeholder="max">
                    <div class="salary-negotiable-checkbox flex">
                        <input type="checkbox" name="salaryNegotiable">
                        <label for="salaryNegotiable" class="text-neutral-500">Salary Negotiable</label>
                    </div>
                </div>
                <div class="language-section flex">
                    <div class="required-language-container">
                        <label for="languages" class="text-neutral-500">Required Language(s)</label>
                        <textarea name="languages" class="bg-neutral-200 text-neutral-200 language-textarea"
                            readonly></textarea>
                        <div class="required-language-button-container">
                            <!-- <button class="flex selected-language-button fs-400 text-neutral-500 bg-primary-300"><i
                                    class="fa-solid fa-xmark fa-icon"></i></button> -->
                        </div>
                    </div>
                    <div class="search-language flex">
                        <label for="search-bar" class="text-neutral-500">Search Language</label>
                        <input type="search" class="bg-neutral-200 search-language-input">
                        <div class="language-container bg-neutral-200 flex">
                            <% languages.forEach(language => { %>
                            <button class="bg-primary-300 fs-400 select-language-button"><%= language.name %></button>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <button class="form-button create-button bg-primary-500 text-neutral-100">Add</button>
            </form>
        </div>
    </section>
</body>

</html>