<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/business-dashboard.css">
<title>dashboard</title>
</head>

<body class="ff-primary bg-primary-300">
    <%- include("../includes/logged-in-navigation.ejs") %>
    <section class="company-dashboard-section">
        <div class="company-dashboard-container bg-neutral-100">
            <h1>hi</h1>
        </div>
    </section>
</body>

</html>