<%- include("../includes/head.ejs") %>
<!-- <link rel="stylesheet" href="/css/business-dashboard.css"> -->
<script src="/scripts/deleteJob.js" defer></script>
<title><%= title %></title>
</head>

<body class="ff-primary bg-primary-300">
    <%- include("../includes/logged-in-navigation.ejs") %>
    <section class="job-dashboard-section grid">
        <div class="job-dashboard-container">
            <h1 class="job-dashboard-title, fw-semi-bold text-neutral-500 fs-700">Programming Jobs</h1>
            <div class="job-container">
                <h3 class="job-title fw-semi-bold text-neutral-500">sample job</h3>
                <h4 class="company-title fw-regular text-neutral-400">company</h4>
            </div>
        </div>
    </section>
</body>

</html>